*.tmp
*.pyc
*.parquet
*.safetensors

__pycache__
__pycache__/*

datasets/*
datasets/*

juliet-test-suite-c
juliet-test-suite-c/*

graphs
graphs/*

dbs/
dbs/*

out/
out/*

models/
models/*

model_train/results
model_train/results/*

VulBERTa/
VulBERTa/*

.flake8
